In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
data = "data/Salesstore.csv"
df = pd.read_csv(data)
df.head(10)

,Order_ID,Order_Priority,Order_Quantity,Sales,Ship_Mode,Profit,Customer_Name,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container
0,643,High,21,2781.82,Express Air,-695.26,Monica Federle,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Commercial Wire Shelving, Black",Large Box
1,8995,High,35,3389.93,Express Air,737.94,Beth Paige,Northwest Territories,Consumer,Furniture,Office Furnishings,Luxo Professional Combination Clamp-On Lamps,Large Box
2,9127,Not Specified,7,2039.56,Express Air,-329.49,Bryan Davis,Northwest Territories,Corporate,Office Supplies,Storage & Organization,"Tennsco Snap-Together Open Shelving Units, Sta...",Large Box
3,26272,Low,6,905.94,Express Air,-4.19,Carlos Daly,Northwest Territories,Home Office,Furniture,Chairs & Chairmats,Hon Olson Stacker Stools,Large Box
4,36646,Medium,24,1168.15,Express Air,-743.96,Muhammed MacIntyre,Northwest Territories,Small Business,Office Supplies,Storage & Organization,Tennsco Industrial Shelving,Large Box
5,41696,Not Specified,45,237.28,Express Air,-2088.68,Bryan Mills,Northwest Territories,Small Business,Office Supplies,Appliances,Hoover Portapower™ Portable Vacuum,Large Box
6,43267,Critical,17,1368.14,Express Air,171.26,Fred Wasserman,Northwest Territories,Home Office,Office Supplies,Appliances,Honeywell Enviracaire® Portable Air Cleaner fo...,Large Box
7,29319,Low,21,4429.69,Express Air,983.55,Filia McAdams,Atlantic,Small Business,Technology,Copiers and Fax,Canon PC-428 Personal Copier,Large Box
8,5988,Not Specified,40,19109.61,Express Air,-379.29,Sanjit Chand,West,Home Office,Technology,Copiers and Fax,Sharp AL-1530CS Digital Copier,Large Box
9,51073,Not Specified,17,2475.08,Express Air,958.80,Luke Weiss,West,Corporate,Furniture,Office Furnishings,"3M Polarizing Task Lamp with Clamp Arm, Light ...",Large Box

In [ ]:
#check null values

In [25]:
df.isnull().any()

Order_ID                False
Order_Priority          False
Order_Quantity          False
Sales                   False
Ship_Mode               False
Profit                  False
Customer_Name           False
Region                  False
Customer_Segment        False
Product_Category        False
Product_Sub-Category    False
Product_Name            False
Product_Container       False
dtype: bool

In [ ]:
#check duplication

In [29]:
df.duplicated().any()

False

In [ ]:
#check the data type of the dataFrame

In [31]:
print(df.dtypes)

Order_ID                  int64
Order_Priority           object
Order_Quantity            int64
Sales                   float64
Ship_Mode                object
Profit                  float64
Customer_Name            object
Region                   object
Customer_Segment         object
Product_Category         object
Product_Sub-Category     object
Product_Name             object
Product_Container        object
dtype: object

In [9]:
df.columns

Index(['Order_ID', 'Order_Priority', 'Order_Quantity', 'Sales', 'Ship_Mode',
       'Profit', 'Customer_Name', 'Region', 'Customer_Segment',
       'Product_Category', 'Product_Sub-Category', 'Product_Name',
       'Product_Container'],
      dtype='object')

In [ ]:
# Drop the Customer_Name column

In [27]:
# df = df.drop('Customer_Name', axis=1)

In [2]:
# get the orders_id that repeated in order to check if there is a realtionship between the order_id and customer_name
repeated_orders = df[df.duplicated(subset='Order_ID', keep=False)]['Order_ID']
repeated_orders

1       8995
10     29185
13     49088
14     29318
18     25031
       ...
721    30016
722    30016
725    56101
726     1059
727     1059
Name: Order_ID, Length: 288, dtype: int64

### Data standarlizing

In [34]:
columns_to_capitalize = ['Order_Priority', 'Ship_Mode', 'Region', 'Customer_Segment',
       'Product_Category', 'Product_Sub-Category', 'Product_Name',
       'Product_Container']
df[columns_to_capitalize] = df[columns_to_capitalize].apply(lambda x: x.str.title())

## => What is the number of unique Order_priority?

In [40]:
nb_priority = df['Order_Priority'].nunique()
nb_priority

5

## => How many orders for each priority ?

In [58]:
nb_priority = df['Order_Priority'].value_counts()
nb_priority

Order_Priority
Not Specified    156
High             152
Low              147
Critical         147
Medium           128
Name: count, dtype: int64

#### How many region there ?

In [12]:
regions = df['Region'].nunique()
regions

6

In [24]:
regions = df['Region'].unique().tolist()
regions

['Nunavut', 'Northwest Territories', 'Atlantic', 'West', 'Ontario', 'Prarie']

### How many Customer_Segment are there?

In [14]:
segments = df['Customer_Segment'].nunique()
segments

4

In [23]:
segments = df['Customer_Segment'].unique().tolist()
segments

['Corporate', 'Consumer', 'Home Office', 'Small Business']

### How many Product_Catigorie exists?

In [19]:
products = df['Product_Category'].nunique()
products

3

In [22]:
products = df['Product_Category'].unique().tolist()
products

['Office Supplies', 'Furniture', 'Technology']

### How many Product_Sub-Category are there?

In [28]:
sup_products = df['Product_Sub-Category'].nunique()
sup_products

15

In [29]:
sup_products = df['Product_Sub-Category'].unique().tolist()
sup_products

['Storage & Organization',
 'Office Furnishings',
 'Chairs & Chairmats',
 'Appliances',
 'Copiers and Fax',
 'Office Machines',
 'Tables',
 'Telephones and Communication',
 'Scissors, Rulers and Trimmers',
 'Labels',
 'Paper',
 'Binders and Binder Accessories',
 'Computer Peripherals',
 'Envelopes',
 'Pens & Art Supplies']

##### what Region had the highest number of sales?

In [32]:
region_sales = df.groupby('Region')['Sales'].sum()
region_sales

Region
Atlantic                 271205.1010
Northwest Territories    275140.7555
Nunavut                   36306.4980
Ontario                   81727.7725
Prarie                    86646.1360
West                     346001.4240
Name: Sales, dtype: float64

In [30]:
highest_sales_region = region_sales.idxmax()
highest_sales_region

'West'

##### what Product_Name sold the most?

In [33]:
product_quantity = df.groupby('Product_Name')['Order_Quantity'].sum()
product_quantity

Product_Name
#10 Self-Seal White Envelopes                           57
#10 White Business Envelopes,4 1/8 x 9 1/2             102
#10- 4 1/8" x 9 1/2" Recycled Envelopes                 81
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes             2
#10-4 1/8" x 9 1/2" Premium Diagonal Seam Envelopes     47
                                                      ...
Zoom V.92 V.44 PCI Internal Controllerless FaxModem     42
g520                                                    43
i1000                                                   39
i470                                                    45
i500plus                                                23
Name: Order_Quantity, Length: 445, dtype: int64

##### wich categorie had the highest/lowest profit?

In [29]:
category_profit = df.groupby('Product_Category')['Profit'].sum()
highest_profit_category = category_profit.idxmax()
category_profit.sort_values(ascending=False)
#print(f"the categorie that had the highest profit is {highest_profit_category} with {category_profit.max()} profit \
#\nAnd the lowest is {category_profit.idxmin()} with {category_profit.min()}")

Product_Category
Technology         81368.05
Office Supplies    53073.95
Furniture          17017.84
Name: Profit, dtype: float64

##### wich sub_categorie had the highest/lowest profit?

In [30]:
sub_category_profit = df.groupby('Product_Sub-Category')['Profit'].sum()
highest_profit_sub_category = sub_category_profit.idxmax()
lowest_profit_sub_category = sub_category_profit.idxmin()
sub_category_profit.sort_values(ascending = False)
#print(f"the sub categorie that had the highest profit is {highest_profit_sub_category} with {sub_category_profit.max()} profit \
#\nAnd the lowest is {lowest_profit_sub_category} with {sub_category_profit.min()}")

Product_Sub-Category
Telephones and Communication      47992.17
Office Machines                   26832.43
Binders and Binder Accessories    26291.74
Appliances                        22731.86
Chairs & Chairmats                12164.94
Office Furnishings                 8700.26
Envelopes                          6049.97
Computer Peripherals               4982.06
Paper                              3124.64
Copiers and Fax                    1561.39
Labels                             1296.60
Pens & Art Supplies                 -93.30
Scissors, Rulers and Trimmers     -1759.58
Tables                            -3847.36
Storage & Organization            -4567.98
Name: Profit, dtype: float64

##### wich product had the high order_quantity?

In [24]:
high_orders = df.groupby('Product_Name')['Order_Quantity'].sum()
hight_orderd_product = high_orders.idxmax()
high_orders.sort_values(ascending=False)

Product_Name
2160i                                                                         147
TI 36X Solar Scientific Calculator                                            140
12-1/2 Diameter Round Wall Clock                                              134
Xerox 1920                                                                    129
Eldon Expressions™ Desk Accessory, Wood Pencil Holder, Oak                    126
                                                                             ...
Eldon Cleatmat® Chair Mats for Medium Pile Carpets                              1
Fellowes PB300 Plastic Comb Binding Machine                                     1
Dot Matrix Printer Tape Reel Labels, White, 5000/Box                            1
GBC DocuBind TL200 Manual Binding Machine                                       1
Office Impressions Heavy Duty Welded Shelving & Multimedia Storage Drawers      1
Name: Order_Quantity, Length: 445, dtype: int64

##### what is the Customer_Segment that had a highest/lowest sales?

In [31]:
customers_hight_sales = df.groupby('Customer_Segment')['Sales'].sum()
customer_hight_sales = customers_hight_sales.idxmax()
customers_hight_sales.sort_values(ascending=False)

Customer_Segment
Corporate         805343.1240
Consumer          186041.2210
Home Office        70363.1295
Small Business     35280.2125
Name: Sales, dtype: float64

##### what is the Customer_Segment that had a highest/lowest profits?

In [47]:
customers_hight_profit = df.groupby('Customer_Segment')['Profit'].sum()
customer_hight_profit = customers_hight_profit.idxmax()
customers_hight_profit.sort_values(ascending=False)

Customer_Segment
Corporate         120106.44
Consumer           18641.47
Home Office        11619.34
Small Business      1092.59
Name: Profit, dtype: float64

##### how many times we have the same nomber of order_quantity (wich quantity is popular)?

In [112]:
popular_qnt = df.groupby('Order_Quantity').size().sort_values(ascending=False)
popular_qnt.head(10)

Order_Quantity
42    24
15    23
8     22
25    21
36    21
32    21
19    20
31    20
24    19
5     19
dtype: int64

##### how many customers belong to each segment?

In [37]:
customers_of_segment = df.groupby('Customer_Segment').count()
customers_of_segment

#customers_of_segment.get_group('Small Business')['Order_ID'].unique()

,Order_ID,Order_Priority,Order_Quantity,Sales,Ship_Mode,Profit,Customer_Name,Region,Product_Category,Product_Sub-Category,Product_Name,Product_Container
Customer_Segment,,,,,,,,,,,,
Consumer,153,153,153,153,153,153,153,153,153,153,153,153
Corporate,518,518,518,518,518,518,518,518,518,518,518,518
Home Office,31,31,31,31,31,31,31,31,31,31,31,31
Small Business,28,28,28,28,28,28,28,28,28,28,28,28

In [47]:
# unique_customers_of_segment = df.groupby('Customer_Segment').nunique()
# segment_customers = unique_customers_of_segment['Order_ID']
# segment_customers

In [54]:
segment_customers = df.groupby('Customer_Segment')['Order_ID'].nunique().reset_index()
segment_customers

  Customer_Segment  Order_ID
0         Consumer       126
1        Corporate       390
2      Home Office        30
3   Small Business        25

In [52]:
customers = df['Order_ID']

In [73]:
loyal_customers = df.groupby(['Order_ID','Customer_Name'])[['Order_Quantity', 'Profit']].mean().reset_index()
#check if there is a Customer that has the same Customer_Name and the same Order_ID
loyal_customers[['Order_ID','Customer_Name']].duplicated().any()
loyal_customers[['Order_ID','Customer_Name']]

     Order_ID           Customer_Name
0          35         Julie Creighton
1         293            Barry French
2         322        Giulietta Weimer
3         450            Matt Collins
4         483           Clay Rozendal
..        ...                     ...
566     59585            Edward Hooks
567     59651          Brendan Dodson
568     59750                Jim Sink
569     59878             Ivan Gibson
570     59909  Christina Vanderzanden

[571 rows x 2 columns]